body{
	background-color: #cea413;
}

#wrapper{
	width: 960px;
	height: 600px;
	margin: 0px auto;
	padding-top: 10px;
}
#header{
	height: 40px;
	width: 100%;
}
#main{
	background-color: #fff;
	height: auto;
}
#footer{
	height: 60px;
}
#logo {
	width: 150px;
	float: left;
	margin-right: 30px;
}
#logo img{
	width: 100%;
	height: 100%;
}
#apply{
	float: left;
}
#apply li{
	text-align: center;
	display: block;
	line-height: 35px;
	padding-bottom: 10px;
}
#apply li a{
	text-decoration: none;
	color: #CEA413;
	font-family: Arial;
	font-weight: bold;
	padding: 10px 15px 10px 15px;
	background-color: #234465;
	border-radius: 50px;
}
#apply li a:hover{
	text-decoration: none;
	background-color: #fff;
	color: #234465;
}
#header nav {
	float: right;
}
#text-items li {
	text-align: center;
	display: inline-block;
	line-height: 35px;
	padding-bottom: 10px;
}
#text-items li a {
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	font-weight: 900;
	margin-right: 15px;
}
#text-items li a:hover {
	color: #d1cfc8;
}

#dropdown-courses {
	visibility: hidden;
	position: absolute;
}

#dropdown-courses li {
	display: block;
	padding-bottom: 0;
}

#dropdown-courses a {
	display: block;
}

#courses:hover ul{
	visibility: visible;
}

#icon-items li{
	display: inline-block;
	margin:0 5px;
	font-size: 20px;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 1em;
	/*border-radius: 100%;*/
}

#icon-items:before {
	content: "\00a0";
}

#search{
	background: url(../images/Magnifying_glass.png);
	background-position: 18px 18px;
}
#search:hover{
	background: url("../images/Magnifying_glass.png");
	background-position: 18px 18px;
}

#bell{
	background: url(../images/Bell.png);
	background-position: 18px 18px;
}

#profile {
	background: url(../images/Profile.png);
	background-position: 18px 18px;
}