body {
    background-color: #cea413;
}

#wrapper {
    width: 1140px;
    margin: 0 auto;
    padding-top: 10px;
}

#header {
    height: 40px;
    width: 100%;
    padding: 10px 0;
}

#main {
    height: auto;
    background: url("../images/bubbles.png");
    background-repeat: repeat;
}

#main section {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    clear: both;
    padding-bottom: 20px;
}

#beers {
    width: 400px;
    height: 75px;
    margin: 0 auto;
    background-image: url(../images/beer-sprite-transparent.png);
    background-repeat: no-repeat;
}

#main section a {
    margin: 0 36px;
    text-decoration: none;
}

#main section a input {
    width: 50%;
    height: 50px;
    font-size: 150%;
}

#main section form span {
    font-size: 18px;
}

#question {
    width: 100%;
    color: black;
    font-size: 25px;
    float: left;
    margin-bottom: 20px;
}

#footer {
    height: 60px;
}

#logo {
    width: 150px;
    float: left;
    margin-right: 20px;
}

#logo img {
    width: 100%;
    height: 100%;
}

#apply {
    float: left;
    margin-right: 20px;
    text-align: center;
    display: block;
    line-height: 30px;
    padding-bottom: 10px;
}

#apply a, button {
    text-decoration: none;
    color: #CEA413;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px;
    background-color: #234465;
    border-radius: 50px;
    border: none;
}

#apply a:hover, button:hover {
    text-decoration: none;
    background-color: #fff;
    color: #234465;
    cursor: pointer
}

#header nav {
    line-height: 35px;
    padding-bottom: 10px;

    display: inline-block;
    float: right;
}

#text-items {
    float: right;
}

#text-items li {
    text-align: center;
    display: inline-block;
}

#text-items li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-right: 15px;
}

#text-items li a:hover {
    color: #d1cfc8;
}

.dropdown::after {
    content: " ▼";
}

#dropdown-courses {
    padding: 0 15px;
    margin: 5px auto;
    visibility: hidden;
}

#dropdown-courses li {
    display: inline-block;
    padding-bottom: 0;
}

#dropdown-courses a {
    display: inline-block;
}

#courses:hover ul {
    visibility: visible;
}

#icon-items {
    margin-top: -8px;
    text-align: center;
    float: right;
    width: 150px;
}

#icon-items a {
    margin: 5px;
    width: 36px;
    height: 36px;
    float: left;
}

#search {
    background: url(../images/Magnifying_glass.png);
    background-position: 0 -1px;
}

#search:hover {
    background: url("../images/Magnifying_glass.png");
    background-position: 0 -38px;
}

#notification {
    background: url(../images/Bell.png);
    background-position: 0 -1px;
}

#notification:hover {
    background: url(../images/Bell.png);
    background-position: 0 -38px;
}

#profile {
    background: url(../images/Profile.png);
    background-size: contain;
    /*border: 2px solid #ccc;*/
    border-radius: 100%;
}

.questions {
    display: flex;
    justify-content: space-between;
}

#board {
    background: url('../images/whiteboard.png');
    background-repeat: no-repeat;
    height: 334px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 0 20px;
    display: flex;
    box-sizing: border-box;
    float: left;
}

.answer-section {
    width: 20%;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    background: #234465;
    color: #fff;
    text-align: center;
    z-index: 9999;
    display: block;
}