@media all and (max-width: 1200px) {

    /* Responsive Header */
    #wrapper {
        width: 95%;
    }
    #header nav {
        width: 60%;
    }
    #icon-items {
        width: 40%;
    }
    #icon-items a {
        width: 28%;
    }
    #search, #notification, #profile {
        background-repeat: no-repeat;
    }
    #text-items {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    #text-items li {
        width: 19%;
    }
    #text-items li a {
        font-size: 0.78em;
    }
    #apply {
        line-height: 15px;
    }

    
    /* Responsive Main */
    #main {
        margin-top: 65px;
    }
    #main section, .questions {
        width: 90%;
    }
    #board {
        width: 70%;
        background-size: contain;
    }
    #multiple-form-options {
        text-align: left;
    }
    #apply a, button {
        float: left;
        margin-top: 10px;
    }
    #board {
        background-size: contain;
    }
    html body div#wrapper div#header nav#main-nav ul#text-items li#courses ul#dropdown-courses div.container li a {
        font-size: 0.7em;
    }
}

@media all and (max-width: 960px) {

    /* Responsive Header */
    #icon-items {
        display: none;
    }
    #text-items {
        width: 95%;
    }
    .container {
        display: flex;
    }
    html body div#wrapper div#header nav#main-nav ul#text-items li#courses ul#dropdown-courses div.container li a {
        font-size: 0.6em;
    }
}

@media all and (max-width: 720px) {

    /* Responsive Header */
    #header nav {
        display: inline;
        float: none;
    }
    #logo {
        float: none;
        margin: 0 auto;
    }
    #apply {
        display: none;
    }
    #apply a, button {
        float: none;
    }
    .container {
        display: flex;
    }
    #text-items li {
        width: 20%;
    }
    html body div#wrapper div#header nav#main-nav ul#text-items li#courses ul#dropdown-courses div.container li a {
        font-size: 0.5em;
    }
}